.scrollBox
{
    background-color: rgb(181, 185, 185);
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

#update-form {
    text-align: center;
    width: 30%;
    background-color: lightskyblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-beteen;
    padding: 15px;
}

label {
    display: flex;
    flex-direction: left;

}

